Integration HTTP.blueprint.json
{
    "name": "Integration HTTP",
    "flow": [
        {
            "id": 2,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth",
                "tlsType": ""
            },
            "mapper": {
                "url": "https://www.alphavantage.co/query",
                "method": "get",
                "queryParameters": [
                    {
                        "name": "function",
                        "value": "GLOBAL_QUOTE"
                    },
                    {
                        "name": "symbol",
                        "value": "AAPL"
                    },
                    {
                        "name": "apikey",
                        "value": "LOAH6UUCTU1VY9X9"
                    }
                ],
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        },
                        "tlsType": {
                            "label": "Empty"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "queryParameters": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "contentType": {
                            "label": "Empty"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "name": "value",
                            "label": "Header",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "queryParameters",
                        "type": "array",
                        "label": "Query parameters",
                        "spec": {
                            "name": "value",
                            "label": "Parameter",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "min": 1,
                            "max": 300
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "label": "Data",
                        "type": "any"
                    },
                    {
                        "name": "statusCode",
                        "label": "Status Code",
                        "type": "number"
                    },
                    {
                        "name": "headers",
                        "label": "Headers",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "content-length",
                                "label": "Content-Length",
                                "type": "text"
                            },
                            {
                                "name": "content-encoding",
                                "label": "Content-Encoding",
                                "type": "text"
                            },
                            {
                                "name": "content-type",
                                "label": "Content-Type",
                                "type": "text"
                            },
                            {
                                "name": "server",
                                "label": "Server",
                                "type": "text"
                            },
                            {
                                "name": "cache-control",
                                "label": "Cache-Control",
                                "type": "text"
                            },
                            {
                                "name": "set-cookie",
                                "label": "Set-Cookie",
                                "type": "array",
                                "spec": {
                                    "type": "text"
                                }
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "gemini-ai:createACompletionGeminiPro",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 9832206
                            },
                            "filter": null,
                            "mapper": {
                                "model": "gemini-3.1-flash-lite",
                                "contents": [
                                    {
                                        "role": "user",
                                        "parts": [
                                            {
                                                "type": "text",
                                                "text": "\"You are a senior hedge fund analyst. The stock ticker {{2.data.`Global Quote`.`01. symbol`}} had a massive trading day today. It moved {{2.data.`Global Quote`.`10. change percent`}}% and closed at a price of ${{2.data.`Global Quote`.`05. price`}}. Write a concise, 3-bullet-point summary explaining what might be driving this movement, and conclude with a market sentiment score from 1 to 10.\""
                                            }
                                        ]
                                    }
                                ],
                                "system_instruction": {},
                                "generationConfig": {
                                    "thinkingConfig": {},
                                    "imageConfig": {}
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -150
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Gemini AI connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "gemini-ai-q9zyjp"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "model": {
                                            "mode": "chose",
                                            "label": "Gemini 3.1 Flash LiteDiscontinuation date: May 7, 2027"
                                        },
                                        "contents": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    },
                                                    "parts": {
                                                        "mode": "chose",
                                                        "items": [
                                                            {
                                                                "type": {
                                                                    "mode": "chose",
                                                                    "label": "Text"
                                                                }
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        "system_instruction": {
                                            "nested": {
                                                "parts": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "safetySettings": {
                                            "mode": "chose"
                                        },
                                        "generationConfig": {
                                            "nested": {
                                                "stopSequences": {
                                                    "mode": "chose"
                                                },
                                                "responseModalities": {
                                                    "mode": "chose"
                                                },
                                                "thinkingConfig": {
                                                    "nested": {
                                                        "include_thoughts": {
                                                            "mode": "chose"
                                                        },
                                                        "thinking_level": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    }
                                                },
                                                "mediaResolution": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                },
                                                "imageConfig": {
                                                    "nested": {
                                                        "imageSize": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    }
                                                },
                                                "responseMimeType": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                }
                                            }
                                        },
                                        "function_declarations_context": {
                                            "mode": "chose"
                                        },
                                        "url_context": {
                                            "mode": "chose"
                                        },
                                        "google_search_context": {
                                            "mode": "chose"
                                        },
                                        "code_execution": {
                                            "mode": "chose"
                                        },
                                        "google_maps_context": {
                                            "mode": "chose"
                                        },
                                        "file_search_store_context": {
                                            "mode": "chose"
                                        },
                                        "serviceTier": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:gemini-ai-q9zyjp",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "AI Model",
                                        "required": true
                                    },
                                    {
                                        "name": "contents",
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true,
                                        "spec": [
                                            {
                                                "name": "role",
                                                "type": "select",
                                                "label": "Role",
                                                "options": [
                                                    {
                                                        "label": "User",
                                                        "value": "user"
                                                    },
                                                    {
                                                        "label": "Model",
                                                        "value": "model"
                                                    }
                                                ],
                                                "required": true
                                            },
                                            {
                                                "name": "parts",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Message Type",
                                                        "options": [
                                                            {
                                                                "label": "Text",
                                                                "value": "text",
                                                                "nested": [
                                                                    {
                                                                        "name": "text",
                                                                        "type": "text",
                                                                        "label": "Text",
                                                                        "required": true
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "file_data",
                                                                        "spec": [
                                                                            {
                                                                                "name": "mime_type",
                                                                                "type": "text",
                                                                                "label": "Mime Type",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "You can use public or signed URLs as input by using the URLs.",
                                                                                "name": "file_uri",
                                                                                "type": "text",
                                                                                "label": "File URI",
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "File Data",
                                                                        "required": true
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Function Call",
                                                                "value": "functionCall",
                                                                "nested": [
                                                                    {
                                                                        "name": "functionCall",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The name of the function to call.",
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 64
                                                                                }
                                                                            },
                                                                            {
                                                                                "help": "The function parameters and values in JSON object format.",
                                                                                "name": "args",
                                                                                "type": "json",
                                                                                "label": "Arguments"
                                                                            },
                                                                            {
                                                                                "help": "The unique ID of the function call.",
                                                                                "name": "id",
                                                                                "type": "text",
                                                                                "label": "Function Call ID"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Function Call"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Function Response",
                                                                "value": "functionResponse",
                                                                "nested": [
                                                                    {
                                                                        "name": "functionResponse",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The name of the function to call.",
                                                                                "name": "name",
                                                                                "type": "text",
                                                                                "label": "Name",
                                                                                "required": true,
                                                                                "validate": {
                                                                                    "max": 64
                                                                                }
                                                                            },
                                                                            {
                                                                                "help": "The function response in JSON object format.",
                                                                                "name": "response",
                                                                                "type": "json",
                                                                                "label": "Response",
                                                                                "required": true
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Function Response"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "thoughtSignature",
                                                        "type": "text",
                                                        "label": "Thought Signature"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Parts",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "name": "system_instruction",
                                        "type": "collection",
                                        "label": "System Instructions",
                                        "spec": [
                                            {
                                                "name": "parts",
                                                "type": "array",
                                                "label": "Prompts",
                                                "spec": {
                                                    "spec": [
                                                        {
                                                            "name": "text",
                                                            "type": "text",
                                                            "label": "Value"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Prompt",
                                                    "name": "value"
                                                }
                                            }
                                        ]
                                    },
                                    {
                                        "name": "safetySettings",
                                        "type": "array",
                                        "label": "Safety Settings",
                                        "spec": [
                                            {
                                                "name": "category",
                                                "type": "select",
                                                "label": "Category",
                                                "options": [
                                                    {
                                                        "label": "Harassment content",
                                                        "value": "HARM_CATEGORY_HARASSMENT"
                                                    },
                                                    {
                                                        "label": "Hate speech and content",
                                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                                    },
                                                    {
                                                        "label": "Sexually explicit content.",
                                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                                    },
                                                    {
                                                        "label": "Dangerous content:",
                                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "threshold",
                                                "type": "select",
                                                "label": "Threshold",
                                                "options": [
                                                    {
                                                        "label": "Block low and above.",
                                                        "value": "BLOCK_LOW_AND_ABOVE"
                                                    },
                                                    {
                                                        "label": "Block medium and above.",
                                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                                    },
                                                    {
                                                        "label": "Block only high.",
                                                        "value": "BLOCK_ONLY_HIGH"
                                                    },
                                                    {
                                                        "label": "Block none.",
                                                        "value": "BLOCK_NONE"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "name": "generationConfig",
                                        "type": "collection",
                                        "label": "Generation configurations",
                                        "spec": [
                                            {
                                                "name": "stopSequences",
                                                "type": "array",
                                                "label": "Stop Sequences",
                                                "spec": {
                                                    "type": "text",
                                                    "label": "Stop Sequence",
                                                    "name": "value"
                                                }
                                            },
                                            {
                                                "name": "responseModalities",
                                                "type": "select",
                                                "label": "Response Modalities",
                                                "multiple": true,
                                                "validate": {
                                                    "enum": [
                                                        "text",
                                                        "image"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "maxOutputTokens",
                                                "type": "number",
                                                "label": "Max Output Tokens"
                                            },
                                            {
                                                "name": "temperature",
                                                "type": "number",
                                                "label": "Temperature",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "topP",
                                                "type": "number",
                                                "label": "Top P",
                                                "validate": {
                                                    "max": 1,
                                                    "min": 0
                                                }
                                            },
                                            {
                                                "name": "topK",
                                                "type": "number",
                                                "label": "Top K"
                                            },
                                            {
                                                "name": "thinkingConfig",
                                                "type": "collection",
                                                "label": "Thinking Config",
                                                "spec": [
                                                    {
                                                        "name": "thinkingBudget",
                                                        "type": "number",
                                                        "label": "Thinking Budget"
                                                    },
                                                    {
                                                        "name": "include_thoughts",
                                                        "type": "boolean",
                                                        "label": "Include Thoughts"
                                                    },
                                                    {
                                                        "name": "thinking_level",
                                                        "type": "select",
                                                        "label": "Thinking Level",
                                                        "validate": {
                                                            "enum": [
                                                                "low",
                                                                "high"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "mediaResolution",
                                                "type": "select",
                                                "label": "Media Resolution",
                                                "validate": {
                                                    "enum": [
                                                        "media_resolution_low",
                                                        "media_resolution_medium",
                                                        "media_resolution_high"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "imageConfig",
                                                "type": "collection",
                                                "label": "Image Configuration",
                                                "spec": [
                                                    {
                                                        "name": "imageSize",
                                                        "type": "select",
                                                        "label": "Image Size",
                                                        "validate": {
                                                            "enum": [
                                                                "1K",
                                                                "2K",
                                                                "4K"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "name": "responseMimeType",
                                                "type": "select",
                                                "label": "Response Format"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "tools",
                                        "type": "any",
                                        "label": "Tools"
                                    },
                                    {
                                        "name": "tool_config",
                                        "type": "any",
                                        "label": "Tool Config"
                                    },
                                    {
                                        "name": "function_declarations_context",
                                        "type": "boolean",
                                        "label": "Function Declarations Grounding"
                                    },
                                    {
                                        "name": "url_context",
                                        "type": "boolean",
                                        "label": "URL Context"
                                    },
                                    {
                                        "name": "google_search_context",
                                        "type": "boolean",
                                        "label": "Google Search Grounding"
                                    },
                                    {
                                        "name": "code_execution",
                                        "type": "boolean",
                                        "label": "Code Execution"
                                    },
                                    {
                                        "name": "google_maps_context",
                                        "type": "boolean",
                                        "label": "Google Maps Grounding"
                                    },
                                    {
                                        "name": "file_search_store_context",
                                        "type": "boolean",
                                        "label": "File Search Store Context"
                                    },
                                    {
                                        "name": "serviceTier",
                                        "type": "select",
                                        "label": "Inference Service Tier"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 9607194
                            },
                            "mapper": {
                                "mode": "select",
                                "insertUnformatted": false,
                                "valueInputOption": "USER_ENTERED",
                                "insertDataOption": "INSERT_ROWS",
                                "from": "drive",
                                "spreadsheetId": "/1tK2w0saRh8B702FVzNRYJKPRot0Obsa4QN_T26vZ3cQ",
                                "sheetId": "Sheet1",
                                "includesHeaders": true,
                                "useColumnHeaders": false,
                                "values": {
                                    "0": "{{now}}",
                                    "1": "{{2.data.`Global Quote`.`01. symbol`}}",
                                    "2": "{{2.data.`Global Quote`.`05. price`}}",
                                    "3": "{{2.data.`Global Quote`.`10. change percent`}}",
                                    "4": "{{4.result}}"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -150
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Google connection (mounteverett8@gmail.com)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "AI Stock Monitor"
                                            ]
                                        },
                                        "sheetId": {
                                            "label": "Sheet1"
                                        },
                                        "includesHeaders": {
                                            "label": "Yes"
                                        },
                                        "useColumnHeaders": {
                                            "label": "No"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "useColumnHeaders",
                                        "type": "select",
                                        "label": "Use column headers as IDs of the columns",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "type": "collection",
                                        "label": "Values in columns",
                                        "metadata": [
                                            [
                                                [
                                                    "Date",
                                                    "Ticker",
                                                    "Price",
                                                    "Change %",
                                                    "AI Analysis"
                                                ]
                                            ]
                                        ],
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Date (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "Ticker (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "Price (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "Change % (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "AI Analysis (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "(F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 9832694
                            },
                            "mapper": {
                                "chatId": "8034064102",
                                "text": "MAJOR STOCK MOVE: {{2.data.`Global Quote`.`01. symbol`}}\nPRICE: {{2.data.`Global Quote`.`05. price`}}\nAI Analyst Briefing: {{4.result}}",
                                "messageThreadId": "",
                                "parseMode": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter",
                                "replyMarkup": ""
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": -150
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Telegram Bot connection",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "placeholder:Placeholder",
                            "filter": null,
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 150
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}